.nav-link,
a.btn {
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-brand,
.nav-link,
.dropdown-item {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-link.active {
  color: #1e88e5 !important;
}

.navbar-light .navbar-toggler {
  border: none;
}
